@namespace gazetteindex	url(http://www.tso.co.uk/assets/namespace/gazetteindex);
@namespace xsd	url(http://www.w3.org/2001/XMLSchema);

@sq-plus-minus;

$DOCUMENT
{
  font-family: "Arial";
  font-size: 12pt;
  margin-top: 5px;
  margin-left: 5px;
}

$COMMENT {
  display: none;
  color: purple;
  white-space: pre;
}

$PROCINS {
  color: black;
  background-color: #c0c0c0;
}

 gazetteindex|Category:before {
  content: attr(Code) '  ' attr(Name);
  font-weight: bold;
  background-color: Navy;
  color: White;
  border: solid 1px black;
  margin-top: 0em;
  margin-bottom: 0em
  display:block;
}

gazetteindex|Category {
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 0em;
  display:block;
}

 gazetteindex|Index {
  display: block;
}

 gazetteindex|IndexItem {
  display: none;
}

 gazetteindex|Section {
  display: block;
  margin: 0em;
  padding: 0em;
  background-color: #ffffff;
}

 gazetteindex|Section gazetteindex|Section {
  display: none;
}

 gazetteindex|SectionSubgroup {
  display: block;
  background-color: #ffffff;
}


 gazetteindex|Subsection {
  display: none;
}


 gazetteindex|Title {
  display: block;
}

gazetteindex|Section gazetteindex|Title {
  display: block;
  color: Navy;
  font-size:0.8em;
}

 gazetteindex|SeeAlso {
  display: none;
}
