@namespace dc			url(http://purl.org/dc/elements/1.1/);
@namespace fo			url(http://www.w3.org/1999/XSL/Format);
@namespace lga			url(http://www.tso.co.uk/assets/namespace/gazette);
@namespace math			url(http://www.w3.org/1998/Math/MathML);
@namespace namespace	url(http://www.w3.org/XML/1998/namespace);
@namespace ukm			url(http://www.tso.co.uk/assets/namespace/metadata);
@namespace xhtml		url(http://www.w3.org/1999/xhtml);
@namespace xlink		url(http://www.w3.org/1999/xlink);
@namespace xsd			url(http://www.w3.org/2001/XMLSchema);


/*@sq-plus-minus;*/
/*@sq-structure-view-icons;*/

* {
  white-space: nowrap;
  text-align: left;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

$DOCUMENT > * {
  margin-left: 0px;
}

lga|Category:before {
  content: 'Undefined category';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
  margin-top: 20px;
}
 
lga|Category[Type = '11']:before {
  content: 'State';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '12']:before {
  content: 'Parliament';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '13']:before {
  content: 'Ecclesiastical';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '14']:before {
  content: 'Public Finance';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '15']:before {
  content: 'Transport';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '16']:before {
  content: 'Planning';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '17']:before {
  content: 'Health';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '18']:before {
  content: 'Environment';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '19']:before {
  content: 'Water';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '20']:before {
  content: 'Agriculture & Fisheries';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '21']:before {
  content: 'Energy';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '22']:before {
  content: 'Post & Telecom';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '23']:before {
  content: 'Other Notices';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}
 
lga|Category[Type = '24']:before {
  content: 'Corporate Insolvency';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '25']:before {
  content: 'Personal Insolvency';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '26']:before {
  content: 'Companies & Financial Regulation';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
} 

lga|Category[Type = '27']:before {
  content: 'Patnerships';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '28']:before {
  content: 'Societies Regulation';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '29']:before {
  content: 'Personal Legal';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Category[Type = '31']:before {
  content: 'Competition';
  display: block;
  border: 1px black solid;
  background-color: #a0a0a0;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}

lga|Notice:before {
  content: attr(Type) ' Undefined notice type';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
  font-size: 9pt;
}

lga|Notice[Type = '1101']:before {
  content: '1101 Proclamations';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1103']:before {
  content: '1103 Appointments to the Royal Household';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1105']:before {
  content: '1105 Honours and Awards';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1106']:before {
  content: '1106 Privy Council Office';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1107']:before {
  content: '1107 [Variable Heading]';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1108']:before {
  content: '1108 Crown Office';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1109']:before {
  content: '1109 [Variable Heading]';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1110']:before {
  content: '1110 Appointment of Sheriffs';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1111']:before {
  content: '1111 Deputy Lieutenant Commissions';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1112']:before {
  content: '1112 Appointment of Royal Commissions';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1113']:before {
  content: '1113 Lord Chancellors Office';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1114']:before {
  content: '1114 [Variable Heading]';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1115']:before {
  content: '1115 Lord Lieutenants';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1116']:before {
  content: '1116 Home Office';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1117']:before {
  content: '1117 The Scottish Executive';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1118']:before {
  content: '1118 Chancellor of the Exchequer';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1119']:before {
  content: '1119 Warrants Under the Royal Sign Manual';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1120']:before {
  content: '1120 Order of St John';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1121']:before {
  content: '1121 Immigration and Asylum';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1201']:before {
  content: '1201 UK Parliament';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1202']:before {
  content: '1202 House of Lords';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1204']:before {
  content: '1204 Speakers Notice';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1205']:before {
  content: '1205 Lord Chancellors Office';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1206']:before {
  content: '1206 House of Commons';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1208']:before {
  content: '1208 [Variable Heading]';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1302']:before {
  content: '1302 Marriage Acts';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1303']:before {
  content: '1303 Church of Scotland';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1304']:before {
  content: '1304 Church Use and Fabric';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1401']:before {
  content: '1401 Treasury';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1402']:before {
  content: '1402 National Savings';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1403']:before {
  content: '1403 Bank of England';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1404']:before {
  content: '1404 Bank of Issue in Scotland';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1405']:before {
  content: '1405 Customs & Excise';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1501']:before {
  content: '1501 Road Traffic Acts';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1502']:before {
  content: '1502 New Roads and Street Works';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1503']:before {
  content: '1503 Highways';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1504']:before {
  content: '1504 London Hackney Carriages';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1505']:before {
  content: '1505 Railways';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1506']:before {
  content: '1506 Transport Acts';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1507']:before {
  content: '1507 Ports';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1508']:before {
  content: '1508 Civil Aviation';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1509']:before {
  content: '1509 Cycle Tracks';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1601']:before {
  content: '1601 Town and Country Planning';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1603']:before {
  content: '1603 Acquisition of Land';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1604']:before {
  content: '1604 Local Government and Housing';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}
lga|Notice[Type = '1608']:before {
  content: '1608 Pipe-Lines';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1609']:before {
  content: '1609 Zoo Licensing';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1701']:before {
  content: '1701 Medecines';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1702']:before {
  content: '1702 Other Notices';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1802']:before {
  content: '1802 Control of Pollution';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1803']:before {
  content: '1803 Environmental Protection';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1804']:before {
  content: '1804 Coast Protection';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1805']:before {
  content: '1805 National Parks and Access to the Countryside';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1806']:before {
  content: '1806 Wildlife and Countryside';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1807']:before {
  content: '1807 Harbours';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1901']:before {
  content: '1901 Water Resources';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1902']:before {
  content: '1902 Water Industry';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1903']:before {
  content: '1903 Land Drainage';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '1904']:before {
  content: '1904 Natural Mineral Waters';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2001']:before {
  content: '2001 Fisheries';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2002']:before {
  content: '2002 Veterinary Medecines';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2003']:before {
  content: '2003 Corn Returns';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2004']:before {
  content: '2004 Animal Health';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2005']:before {
  content: '2005 Forestry and Plant Health';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2101']:before {
  content: '2101 Gas';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2102']:before {
  content: '2102 Coal';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2103']:before {
  content: '2103 Electricity';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2201']:before {
  content: '2201 Royal Mail';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2202']:before {
  content: '2202 Telecommunications';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2301']:before {
  content: '2301 [No Heading]';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2401']:before {
  content: '2401 Moratorium-Coming into Force';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}
 
lga|Notice[Type = '2402']:before {
  content: '2402 Moratorium-Coming to an End';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

 
lga|Notice[Type = '2410']:before {
  content: '2410 Appointment of Administrators';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2411']:before {
  content: '2411 Administration Orders';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2412']:before {
  content: '2412 Meetings of Creditors';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2413']:before {
  content: '2413 Notices to Members';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2421']:before {
  content: '2421 Appointment of Administrative Receivers';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2422']:before {
  content: '2422 Meetings of Creditors';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2423']:before {
  content: '2423 Appointment of Receivers';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2431']:before {
  content: '2431 Resolutions for Winding-up';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2432']:before {
  content: '2432 Appointment of Liquidators';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2433']:before {
  content: '2433 Notices to Creditors';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2434']:before {
  content: '2434 Annual Liquidation Meetings';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2435']:before {
  content: '2435 Final Meetings';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2441']:before {
  content: '2441 Resolutions for Winding-up';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2442']:before {
  content: '2442 Meetings of Creditors';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2443']:before {
  content: '2443 Appointment of Liquidators';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2444']:before {
  content: '2444 Annual Liquidation Meetings';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2445']:before {
  content: '2445 Final Meetings';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2446']:before {
  content: '2446 Notices to Creditors';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2450']:before {
  content: '2450 Petitions to Wind Up (Companies)';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2451']:before {
  content: '2451 Petitions to Wind Up (Partnerships)';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2452']:before {
  content: '2452 Winding-Up Orders';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2453']:before {
  content: '2453 Winding-Up Orders (Partnerships)';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2454']:before {
  content: '2454 Appointment of Liquidators';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2455']:before {
  content: '2455 Meetings of Creditors';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2456']:before {
  content: '2456 Notice of Intended Dividends';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2457']:before {
  content: '2457 Notice of Dividends';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2458']:before {
  content: '2458 Final Meetings';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2459']:before {
  content: '2459 Release of Liquidator';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2460']:before {
  content: '2460 Notices to Creditors';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2461']:before {
  content: '2461 Dismissal of Winding Up Petition';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2462']:before {
  content: '2462 Service of Petition';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2463']:before {
  content: '2463 Annual Meeting';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2501']:before {
  content: '2501 Statutory Demands';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2502']:before {
  content: '2502 Substituted Service of Petition';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2503']:before {
  content: '2503 Bankruptcy Orders';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2504']:before {
  content: '2504 Bankruptcy Orders (Partnerships)';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2505']:before {
  content: '2505 Administration Order';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2506']:before {
  content: '2506 Amendment of Title of Proceedings';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2507']:before {
  content: '2507 Appointment of Trustees';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2508']:before {
  content: '2508 Notices to Creditors';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2509']:before {
  content: '2509 Notice of Intended Dividends';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2510']:before {
  content: '2510 Notice of Dividends';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2511']:before {
  content: '2511 Final Meetings';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2512']:before {
  content: '2512 Annulment of Proceedings';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2513']:before {
  content: '2153 Applications for Discharge';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2514']:before {
  content: '2514 Release of Trustees';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2515']:before {
  content: '2515 Discharge Order';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2516']:before {
  content: '2516 Orders Annulling, Revoking or Rescinding Orders';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2601']:before {
  content: '2601 Pre-emption Offers to Shareholders';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2602']:before {
  content: '2602 Redemption or Purchase of Own Shares out of Capital';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2603']:before {
  content: '2603 Notice of Disclaimer';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2604']:before {
  content: '2604 Notices under the Trustee Act 1925';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2605']:before {
  content: '2605 Insurance Companies';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2607']:before {
  content: '2607 Insolvency Practitioner Applications';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2608']:before {
  content: '2608 Company Director Disqualification Order';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2609']:before {
  content: '2609 Companies Removed from the Register';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2610']:before {
  content: '2610 Reduction of Capital';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2611']:before {
  content: '2611 Company Documents';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2612']:before {
  content: '2612 European Economic Interest Grouping';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2613']:before {
  content: '2613 Meeting of Creditors';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2614']:before {
  content: '2614 Petitions to Transfer Business';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2701']:before {
  content: '2701 Change in the Members of a Partnership';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2702']:before {
  content: '2702 Dissolution of Partnership';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2703']:before {
  content: '2703 Statement by General Partner';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2801']:before {
  content: '2801 Friendly Societies';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2802']:before {
  content: '2802 Industrial and Provident Societies';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2803']:before {
  content: '2803 Building Societies';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2901']:before {
  content: '2901 Changes of Name';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2902']:before {
  content: '2902 Next of Kin';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '2903']:before {
  content: '2903 Deceased Estates';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '3101']:before {
  content: '3101 General Notices from the Competition Commission';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice[Type = '3102']:before {
  content: '3102 Notices of Application-Appeal Tribunals';
  display: block;
  background-color: navy;
  color: white;
  font-weight: bold;
}

lga|Notice {
  display: block;
  border: solid 1px navy;
  font-size: 9pt;
  margin-top: 10px;
  margin-bottom: 0pt;
  margin-left: 0pt;
  margin-right: 0pt;
}

lga|NoticeHeading 
{
	padding-left: 3pt
}

lga|Company, lga|P, lga|Administration, lga|Substitution, lga|Note, lga|Court, lga|Partnership, lga|Legsilation, lga|Title, lga|P1group, lga|PsubBlock, lga|Pblock, lga|Authority, lga|Legislation, lga|Tabular, lga|P1, lga|Person
{
	display: none;
}

ukm|SupplierID, ukm|SupplierNoticeID, ukm|DateOfReceipt, ukm|TimeOfReceipt, ukm|PublishDate, ukm|SupplierName, ukm|Metadata, ukm|ISBN, ukm|InitialPageNumber, ukm|IssueNumber, ukm|PublishDateText
{
	display: none;
}

ukm|Metadata 
{
	border: none;
}

lga|Notice ukm|GazetteID
{
	display: block;
	padding-left: 3px;
}

lga|Metadata
{
	display: none
}

lga|Notice ukm|GazetteID:before
{
	content: "Gazette ID: ";
	font-weight: bold;
}

lga|Notice[Reference]:after {
  content: "GR: " attr(Reference);
  display: block;
  font-size: 9pt;
  background-color: #e0e0e0;
  border: solid 1px #c0c0c0;
  color: navy;
  text-align: right;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
}

lga|Notice:after {
  content: "No GR";
  display: block;
  background-color: #e0e0e0;
  border: solid 1px #c0c0c0;
  color: navy;
  font-size: 9pt;
  text-align: right;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
}

lga|Section:before {
  content: 'Section';
  font-size: 10pt;
  font-style: normal;
  font-weight: Bold;
  color: black;
}

lga|Section:before {
  content: attr(Type);
  display: block;
  margin-top: 6pt;
  font-weight: bold;
  font-size: 12pt;
}
