@namespace gazetteindex	url(http://www.tso.co.uk/assets/namespace/gazetteindex);
@namespace xsd	url(http://www.w3.org/2001/XMLSchema);


$DOCUMENT
{
  font-family: "Tahoma";
  font-size: 10pt;
  margin-top: 0px;
  margin-left: 0px;
}

$COMMENT {
  display: none;
  color: purple;
  white-space: pre;
}

$PROCINS {
  color: black;
  background-color: #c0c0c0;
}

 gazetteindex|Category:before {
  content: attr(Code) '  ' attr(Name);
  font-weight: bold;
  background-color: Navy;
  color: White;
  border: solid 1px black;
  padding-top: 0.25em;
  padding-right: 0.25em;
  padding-left: 0.25em;
  padding-bottom: 0.25em;
  display:block;
}

 gazetteindex|Category {
  display: block;
  margin-top: 2em;
}

 gazetteindex|Emphasis {
  display: inline;
}

 gazetteindex|Index {
  display: block;
}

 gazetteindex|IndexItem {
  display: block;
  color:black;
  margin-top:1em;
}

 gazetteindex|IndexItem[Class='latest'] {
  display: block;
  color:red;
  margin-top:1em;
}

 gazetteindex|IndexItem[Class='latestbar1'] {
  display: block;
  color:green;
  margin-top:1em;
}
 gazetteindex|IndexItem[Class='latestbar2'] {
  display: block;
  color:navy;
  margin-top:1em;
}
 gazetteindex|IndexItem[Class='latestbar3'] {
  display: block;
  color:purple;
  margin-top:1em;
}
 gazetteindex|IndexItem[SortKey]:before {
  content: 'Manual sort key:' attr(SortKey);
  display: block;
  color:black;
  margin-top:1em;
}
 gazetteindex|Inferior {
  display: block;
}

 gazetteindex|PageNumber {
  display: inline
}

 gazetteindex|Section {
  display: block;
  margin-left: 2em;
  margin-top: 1em;
}

 gazetteindex|SectionSubgroup {
  display: block;
  margin-left:2em
}

gazettindex|SeeAlso:before 
{
	display:inline;
	content: 'See Also ';
	font-style: italic;
	}

 gazetteindex|SeeAlso {
  display: block;
  margin-top: 1em;
}

 gazetteindex|SmallCaps {
  display: inline;
}

 gazetteindex|Strong {
  display: inline;
}

 gazetteindex|Subsection {
  display: block;
  margin-left: 1em;
  margin-top: 0.5em
}

 gazetteindex|Superior {
  display: inline;
}

 gazetteindex|Text {
  display: inline;
}

 gazetteindex|Title {
  display: block;
}

gazetteindex|Section gazetteindex|Title {
  display: block;
  font-weight:bold
}

gazetteindex|Subsection gazetteindex|Title {
  display: block;
  font-weight:normal;
}
